<div class="grid-x grid-margin-x">
    <div class="cell auto">
        <h4 *ngIf="!editAppName">
          <span>{{appName}}</span>
          <small>
            <i (click)="initEditAppName()" class="fa fa-pencil text-18"></i>
          </small>
        </h4>

        <div *ngIf="editAppName" class="grid-x grid-margin-x">
          <div class="cell large-6 input-group">
              <input  type="text" id="app-name" name="app-name"
                required [(ngModel)]="appName">
              <div class="input-group-button">
                  <i *ngIf="editAppName" (click)="updatetAppName()" class="fa fa-check p-10 pointer text-18 gray"></i>
              </div>
          </div>
        </div>
    </div>
    <div class="cell shrink">
        <button class="hollow button primary small" *ngIf="hasScreen">
            <i class="fa fa-globe"></i>
            Publish App
          </button>
        <button class="hollow button success small" data-toggle="new-screen-pane">
          <i class="fa fa-plus"></i>
          Add Screen
        </button>
        <a class="button small secondary" routerLink="/apps">
          <i class="fa fa-chevron-left"></i>
          Back to Apps
        </a>
    </div>
</div>

<div class="grid-x grid-margin-x p-t-30">
    <div *ngIf="!hasScreen" class="cell auto" id="no-screen">
        <p class="text-center p-t-100 gray">Add a screen to begin</p>
    </div>
      <div class="cell small-6 large-4 p-t-20 p-b-20 bg-gray" *ngFor="let screen of screens">
        <div class="card-divider">
            <p class="full-width">
              {{screen.id}}
              <i (click)="deleteScreen(screen)" class="float-right fa fa-times pointer"></i>
            </p>
        </div>
        <div class="card-section">
            <div *ngIf="screen.type=='Alert'">
              <div *ngIf="!screen.editMessage">
                <b class="text-12">{{screen.message}}</b>
                <i (click)="initEditMessage(screen)" class="float-right fa fa-pencil"></i>
              </div>
              <div *ngIf="screen.editMessage">
                  <div class="input-group">
                      <textarea class="input-group-field" [(ngModel)]="screen.message" 
                            name="message" #name="ngModel"></textarea>
                      <div class="input-group-button">
                          <i (click)="updateMessage(screen)" class="float-right fa fa-check pointer"></i>
                      </div>
                  </div>
              </div>
              <br/>
            </div>
            <div *ngIf="screen.type=='Menu'">
                <div *ngIf="!screen.editMessage">
                  <b class="text-12">{{screen.message}}</b>
                  <i (click)="initEditMessage(screen)" class="float-right fa fa-pencil"></i>
                </div>
                <div *ngIf="screen.editMessage">
                    <div class="input-group">
                        <textarea class="input-group-field" [(ngModel)]="screen.message" 
                            name="message" #name="ngModel"></textarea>
                        <div class="input-group-button">
                            <i (click)="updateMessage(screen)" class="float-right fa fa-check pointer"></i>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngFor="let m of screen.menu">{{m.text}}
                  <i (click)="removeMenu(screen.menu, m)" class="float-right fa fa-minus-square-o"></i> 
                  <i (click)="initEditMenu(screen, m)" data-open="edit-ussd-menu" class="float-right fa fa-pencil"></i>&nbsp;
                </div>
                <span class="link" data-open="edit-ussd-menu" (click)="initEditMenu(screen, null)">Add</span>
                <hr class="p-t-30" />
            </div>
            <div *ngIf="screen.type=='Input'">
                <div *ngIf="!screen.editMessage">
                  <b class="text-12">{{screen.message}}</b>
                  <i (click)="initEditMessage(screen)" class="float-right fa fa-pencil"></i>
                </div>
                <div *ngIf="screen.editMessage">
                    <div class="input-group">
                        <textarea class="input-group-field" [(ngModel)]="screen.message" 
                            name="message" #name="ngModel"></textarea>
                        <div class="input-group-button">
                            <i (click)="updateMessage(screen)" class="float-right fa fa-check pointer"></i>
                        </div>
                    </div>
                </div>
                <hr class="p-t-30" />
            </div>
            
            <div class="button-group tiny float-right">
              <button disabled *ngIf="screen.type=='Alert'" class="button hollow tiny" type="button">Ok</button>
              <button *ngIf="screen.type=='Menu' || screen.type=='Input'" data-open="set-ussd-action" class="button hollow tiny" type="button">Send</button>&nbsp;
              <button disabled *ngIf="screen.type=='Menu' || screen.type=='Input'" class="button hollow tiny" type="button">Cancel</button>
            </div>
        </div>
      </div>
</div>


<div class="dropdown-pane" id="new-screen-pane" 
    data-dropdown data-auto-focus="true">
    <form #newScreenForm="ngForm">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>Screen Name
            <input type="text" placeholder="Screen 1" 
              id="screen-name" name="screen-name"
              required [(ngModel)]="newScreen.id">
          </label>
        </div>
        <div class="cell">
          <label>Screen Type
            <select
                id="screen-type" name="screen-type"
                required [(ngModel)]="newScreen.type">
              <option></option>
              <option *ngFor="let t of TYPES" [value]="t">{{t}}</option>
            </select>
          </label>
        </div>
        <div class="cell">
          <button type="button" (click)="addScreen()" class="button">Continue</button>
        </div>
      </div>
    </form>
    <button data-close class="close-button" aria-label="Close alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
</div>


<div class="reveal small" id="edit-ussd-menu" 
    data-reveal>
    <form #editMenuForm="ngForm">
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <label>Menu Text
                <input type="text" 
                id="menu-text" name="menu-text" 
                [(ngModel)]="selectedMenu.text" 
                required>
            </label>
          </div>
          <div class="cell">
              <label>Menu Value
                <input type="text" 
                  id="menu-value" name="menu-value" 
                  [(ngModel)]="selectedMenu.value" 
                  #name="ngModel" required>
              </label>
            </div>
          <div class="cell">
            <button type="button" (click)="updateMenu()" class="button">Continue</button>
          </div>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="reveal" id="set-ussd-action" 
    data-reveal>
    <form #ussdActionForm="ngForm">
        <p><b>Set instructions</b></p>
        <div class="grid-x grid-margin-x">
          <div class="cell" *ngFor="let r of USSD_INSTRUCTION">
            <label>
                <input type="checkbox" />
                {{r}}
            </label>
          </div>
          <div class="cell">
            <button type="button" class="button">Continue</button>
          </div>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>