.p-t-100
    padding-top: 100px

.gray
    color: #cacaca

.bg-gray
    background-color: #e6e6e6

.cell
    margin-bottom: 20px

.p-t-30
    padding-top: 30px

.p-t-20
    padding-top: 20px

.p-b-20
    padding-bottom: 20px

.text-12
    font-size: 12px

.text-18
    font-size: 18px !important

.p-10
    padding: 10px

.fa-pencil, .fa-minus-square-o
    font-size: 12px
    cursor: pointer
    padding: 5px

.link
    cursor: pointer
    color: blue

.pointer
    cursor: pointer

.full-width
    width: 100%