<div class="grid-x grid-margin-x">
    <div class="cell auto">
        <h4 class="">Ussd App Designer</h4>
    </div>
    <div class="cell shrink">
        <a class="button small" routerLink="/apps/new">New App</a>
    </div>
</div>
<div class="grid-x grid-margin-x">
  <table>
    <thead>
      <tr>
        <th>App Name</th>
        <th>Status</th>
        <th>Endpoint</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of ussdApps">
        <td>{{app.Name}}</td>
        <td>{{app.Status}}</td>
        <td><b>{{app.Endpoint}}</b></td>
        <td>{{app.Created | date}}</td>
        <td>
          <a routerLink="/apps/new/{{app.Id}}" class="button secondary tiny">
            <i class="fa fa-pencil"></i>
            Edit
          </a> 
          <a routerLink="/apps/unpublish/{{app.Id}}" class="hollow button secondary tiny">
              <i class="fa fa-power-off"></i>
              Unpublish
          </a> 
        </td>
      </tr>
      <tr *ngIf="ussdApps == undefined || ussdApps.length == 0">
          <td colspan="5">No app yet</td>
      </tr>
    </tbody>
  </table>  
</div>