<div class="grid-x grid-margin-x">
    <div class="cell auto">
        <h4 class="">Ussd App Designer</h4>
    </div>
    <div class="cell shrink">
        <a class="button" routerLink="/apps/new">New App</a>
    </div>
</div>
<div class="grid-x grid-margin-x">
  <table>
    <thead>
      <tr>
        <th>App Name</th>
        <th>Status</th>
        <th>USSD</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hubtel POS</td>
        <td>Active</td>
        <td><b>*173*7079#</b></td>
        <td>12th Dec, 2017</td>
      </tr>
    </tbody>
  </table>  
</div>