<div class="grid-x grid-margin-x">
    <div class="cell auto">
        <h4 class="">Ussd App Designer</h4>
    </div>
    <div class="cell shrink">
        <a class="button small" routerLink="/apps/new">New App</a>
    </div>
</div>
<div class="grid-x grid-margin-x">
  <table>
    <thead>
      <tr>
        <th>App Name</th>
        <th>Status</th>
        <th>Endpoint</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of ussdApps">
        <td>{{app.Name}}</td>
        <td>{{app.Status}}</td>
        <td><b>{{app.Endpoint}}</b></td>
        <td>{{app.Created.seconds * 1000 | date}}</td>
        <td>
          <a routerLink="/apps/new/{{app.Id}}" class="button secondary tiny">
            <i class="fa fa-edit"></i>
            Edit
          </a> 
          <a routerLink="/apps/unpublish/{{app.Id}}" class="hollow button secondary tiny">
              <i class="fa fa-power-off"></i>
              Unpublish
          </a> 
          <!-- <button (click)="deleteApp(app.Id)" class="hollow button alert tiny">
            <i class="fa fa-remove"></i>
            Delete
          </button>  -->
        </td>
      </tr>
      <tr>
          <td colspan="5" *ngIf="!messageService.isMessageShowing()">No app yet</td>
      </tr>
    </tbody>
  </table>  
</div>
